extends layout.pug
 
block variables
    - let title = 'Article';
 
block content
    a(href="/") Retour à la liste des articles
    - let ligne = article
    h1=ligne.title
    p Publié le 18/08/2020 à 18:33 par Paul Verlaine
    p L'extrait standard de Lorem ipsum est reproduit ci-dessous.
    p Les sections sont aussi reproduites.